package ${package};

import lombok.Data;
import java.io.Serializable;
#foreach ($column in $columns)
#if($column.attrType=="BigDecimal")
import java.math.BigDecimal;
#elseif($column.attrType=="Date")
import java.util.Date;
#else
#end
#end

/**
 * ${comments}数据模型
 *
 * @version v0.1, ${nowTime}, create by ${author}.
 */
@Data
public class ${className}DO implements Serializable {

    // serialVersionUID
    private static final long serialVersionUID = ${serialVersionUID}L;

#foreach ($column in $columns)
    // $column.columnComment
    private $column.attrType $column.attrName;
#end

}
