<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.test.sharding.jdbc.dao.IOrderDao">

    <resultMap type="com.hb.test.sharding.jdbc.dobj.OrderDO" id="orderMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderId" column="order_id" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="allColumns">
        id, order_id, mobile
    </sql>

    <!--查询单个-->
    <select id="selectById" resultMap="orderMap">
        select
        <include refid="allColumns"/>
        from t_order
        where id = #{id}
    </select>

    <!--查询集合-->
    <select id="selectList" resultMap="orderMap">
        select
        <include refid="allColumns"/>
        from t_order
        <include refid="whereSql"/>
    </select>

    <!--查询总条数-->
    <select id="selectCount" resultType="java.lang.Integer">
        select
        count(1)
        from t_order
        <include refid="whereSql"/>
    </select>

    <!--分页条件查询-->
    <select id="selectPages" resultMap="orderMap">
        select
        <include refid="allColumns"/>
        from t_order
        <include refid="whereSql"/>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="selectByOrders" resultMap="orderMap">
        select
        *
        from
        t_order
        where
        order_id in
        <foreach collection="set" item="orderId" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </select>

    <!--条件查询-->
    <sql id="whereSql">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
        </where>
    </sql>

    <!--选择性的新增-->
    <insert id="insertBySelective">
        insert into t_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">
                order_id,
            </if>
            <if test="mobile != null and mobile != ''">
                mobile,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null and orderId != ''">
                #{orderId},
            </if>
            <if test="mobile != null and mobile != ''">
                #{mobile},
            </if>
        </trim>
    </insert>

    <!--选择性的修改-->
    <update id="updateBySelective">
        update t_order
        <set>
            <if test="orderId != null and orderId != ''">
                order_id = #{orderId},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键逻辑删除-->
    <update id="deleteById">
        update t_order set record_status=1 where id = #{id}
    </update>

</mapper>