// 分页查询${comments}
export const get${upperClassName}Pages = (${lowerClassName}, pageNum, pageSize, scb) => {
  return Ajax.post(`/${lowerClassName}/queryPages?pageNum=` + pageNum + "&pageSize=" + pageSize, ${lowerClassName}).then(res => commonHandleResponse(res, scb));
};
// 新增${comments}
export const save${upperClassName} = (${lowerClassName}, scb) => {
  return Ajax.post(`/${lowerClassName}/save`, ${lowerClassName}).then(res => commonHandleResponse(res, scb));
};
// 通过主键修改${comments}
export const update${upperClassName}ById = (${lowerClassName}, scb) => {
  return Ajax.post(`/${lowerClassName}/updateById`, ${lowerClassName}).then(res => commonHandleResponse(res, scb));
};
// 通过主键删除${comments}
export const delete${upperClassName}ById = (${pk.lowerAttrName}, scb) => {
  return Ajax.get(`/${lowerClassName}/deleteById?${pk.lowerAttrName}=` + ${pk.lowerAttrName}).then(res => commonHandleResponse(res, scb));
};


