package ${package};

import com.fasterxml.jackson.annotation.JsonInclude;
import lombok.Data;
import lombok.EqualsAndHashCode;
import com.hb.platform.unic.base.model.BaseDO;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#else
#end
#if(${hasDate})
import java.util.Date;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.hb.platform.unic.common.util.DateUtils;
#else
#end

/**
 * ${comments}数据模型
 *
 * @version v0.1, ${nowTime}, create by ${author}.
 */
@Data
@EqualsAndHashCode(callSuper = true)
@JsonInclude(value = JsonInclude.Include.NON_NULL)
public class ${upperClassName}DO extends BaseDO {

#foreach ($column in $columns)
#if($column.lowerAttrName!="id"
    && $column.lowerAttrName!="createBy"
    && $column.lowerAttrName!="createTime"
    && $column.lowerAttrName!="updateBy"
    && $column.lowerAttrName!="updateTime"
    && $column.lowerAttrName!="isValid"
    && $column.lowerAttrName!="parentId"
    && $column.lowerAttrName!="tenantId")
    /**
     * $column.columnComment
     */
#if($column.attrType=="Date")
    @JsonFormat(pattern = DateUtils.FORMAT_DEFAULT, timezone = DateUtils.TIME_ZONE_DEFAULT)
#end
    private $column.attrType $column.lowerAttrName;

#end
#end
}
