package ${package};

import com.hb.mybatis.annotation.Column;
import com.hb.mybatis.annotation.Table;
import lombok.Data;
import java.io.Serializable;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#elseif(${hasDate})
import java.util.Date;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.hb.unic.util.util.DateUtils;
#else
#end

/**
 * ${comments}数据模型
 *
 * @version v0.1, ${nowTime}, create by ${author}.
 */
@Data
@Table("${tableName}")
public class ${upperClassName}PO implements Serializable {

    /**
     * serialVersionUID
     */
    private static final long serialVersionUID = ${serialVersionUID}L;

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
#if($column.lowerAttrName==$pk.lowerAttrName)
    @Column(value = "$column.columnName", isPk = true)
#else
    @Column(value = "$column.columnName")
#end
#if($column.attrType=="Date")
    @JsonFormat(pattern = DateUtils.FORMAT_3, timezone = DateUtils.TIME_ZONE_1)
#end
    private $column.attrType $column.lowerAttrName;

#end
}
