package ${package};

import java.util.List;
import java.util.Set;

import org.apache.ibatis.annotations.Param;
import com.hb.platform.unic.model.Page;

/**
 * ${comments}数据库层接口
 *
 * @version v0.1, ${nowTime}, create by ${author}.
 */
public interface I${upperClassName}Mapper {

    /**
     * 通过主键查询单条数据
     *
     * @param ${pk.lowerAttrName}
     *            主键
     * @return 实例对象
     */
    ${upperClassName}DO selectById(${pk.attrType} ${pk.lowerAttrName});

    /**
     * 通过实体作为筛选条件查询集合
     *
     * @param ${lowerClassName}
     *            查询条件
     * @return 对象列表
     */
    List<${upperClassName}DO> selectList(@Param("qc") ${upperClassName}DO ${lowerClassName});

    /**
     * 条件查询总条数
     *
     * @param ${lowerClassName}
     *            查询条件
     * @return 总条数
     */
    Long selectCount(@Param("qc") ${upperClassName}DO ${lowerClassName});

    /**
     * 查询指定行数据
     *
     * @param ${lowerClassName}
     *            查询条件
     * @param page
     *            分页条件
     * @return 对象列表
     */
    List<${upperClassName}DO> selectPages(@Param("qc") ${upperClassName}DO ${lowerClassName}, @Param("pc") Page page);

    /**
     * 通过id集合查询
     *
     * @param idSet
     *            id集合
     * @param ${lowerClassName}
     *            查询条件
     * @return 结果集
     */
    List<${upperClassName}DO> selectByIdSet(@Param("idSet") Set<${pk.attrType}> idSet, @Param("qc")${upperClassName}DO ${lowerClassName});

    /**
     * 新增
     *
     * @param ${lowerClassName}
     *            实例对象
     * @return 影响行数
     */
    int insert(@Param("qc") ${upperClassName}DO ${lowerClassName});

    /**
     * 通过主键修改
     *
     * @param ${lowerClassName}
     *            实例对象
     * @return 影响行数
     */
    int updateById(@Param("qc") ${upperClassName}DO ${lowerClassName});

    /**
     * 通过主键删除数据
     *
     * @param ${pk.lowerAttrName}
     *            主键
     * @return 影响行数
     */
    int deleteById(@Param("${pk.lowerAttrName}") ${pk.attrType} ${pk.lowerAttrName});

}
