<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.I${upperClassName}Mapper">

    <!--字段映射-->
    <resultMap id="${lowerClassName}Map" type="${package}.${upperClassName}DO">
        #foreach($column in $columns)
        <result column="$column.columnName" property="$column.lowerAttrName"/>
        #end
    </resultMap>

    <!--查询单个-->
    <select id="selectById" resultMap="${lowerClassName}Map">
        select * from ${tableName} where is_valid = 0 and ${pk.columnName} = #{${pk.lowerAttrName}}
    </select>

    <!--查询集合-->
    <select id="selectList" resultMap="${lowerClassName}Map">
        select * from ${tableName}
        <include refid="whereCondition"/>
        order by update_time desc
    </select>

    <!--查询总条数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(1) from ${tableName}
        <include refid="whereCondition"/>
    </select>

    <!--分页条件查询-->
    <select id="selectPages" resultMap="${lowerClassName}Map">
        select * from ${tableName}
        <include refid="whereCondition"/>
        order by update_time desc
        limit #{pc.startIndex}, #{pc.pageSize}
    </select>

    <!--通过id集合查询-->
    <select id="selectByIdSet" resultMap="${lowerClassName}Map">
        select * from ${tableName}
        where is_valid = 1 and $pk.columnName in
        <foreach collection="${pk.lowerAttrName}Set" item="$pk.lowerAttrName" open="(" separator="," close=")">
            #{$pk.lowerAttrName}
        </foreach>
        <include refid="whereCondition"/>
        order by update_time desc
    </select>

    <!--通过主键修改-->
    <update id="updateById">
        update ${tableName}
        <include refid="updateFields"/>
        where $pk.columnName = #{qc.$pk.lowerAttrName}
    </update>

    <!--通过主键物理删除-->
    <update id="deleteById">
        update ${tableName} set is_valid = 0 where $pk.columnName = #{qc.$pk.lowerAttrName}
    </update>

    <!--选择性的新增-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="$pk.columnName" keyColumn="$pk.lowerAttrName">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
            <if test="qc.$!column.lowerAttrName != null#if($column.attrType.equals("String")) and qc.$column.lowerAttrName != ''#end">
                $column.columnName,
            </if>
            #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #foreach($column in $columns)
            <if test="qc.$!column.lowerAttrName != null#if($column.attrType.equals("String")) and qc.$column.lowerAttrName != ''#end">
                #{qc.$column.lowerAttrName},
            </if>
            #end
        </trim>
    </insert>

    <!--条件查询-->
    <sql id="whereCondition">
        <where>
            is_valid = 1
            #foreach($column in $columns)
            <if test="qc.$!column.lowerAttrName != null#if($column.attrType.equals("String")) and qc.$column.lowerAttrName != ''#end">
                and $!column.columnName = #{qc.$column.lowerAttrName}
            </if>
            #end
        </where>
    </sql>

    <!--更新字段sql-->
    <sql id="updateFields">
        <set>
            #foreach($column in $columns)
            <if test="qc.$!column.lowerAttrName != null#if($column.attrType.equals("String")) and qc.$column.lowerAttrName != ''#end">
                $column.columnName = #{qc.$column.lowerAttrName},
            </if>
            #end
        </set>
    </sql>

</mapper>
