<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.I${upperClassName}Mapper">

    <!--字段映射-->
    <resultMap id="${lowerClassName}Map" type="${package}.${upperClassName}DO">
        #foreach($column in $columns)
        <result column="$column.columnName" property="$column.lowerAttrName" jdbcType="$column.dataType"/>
        #end
    </resultMap>

    <!--查询单个-->
    <select id="selectById" resultMap="${lowerClassName}Map">
        select * from ${tableName}
        where ${pk.columnName} = #{${pk.lowerAttrName}}
    </select>

    <!--查询集合-->
    <select id="selectList" resultMap="${lowerClassName}Map">
        select * from ${tableName}
        <include refid="whereSql"/>
        order by gmt_modified desc
    </select>

    <!--查询总条数-->
    <select id="selectCount" resultType="java.lang.Long">
        select count(*) from ${tableName}
        <include refid="whereSql"/>
    </select>

    <!--分页条件查询-->
    <select id="selectPages" resultMap="${lowerClassName}Map">
        select * from ${tableName}
        <include refid="whereSql"/>
        order by gmt_modified desc
        limit #{startRow}, #{pageSize}
    </select>

    <!--条件查询-->
    <sql id="whereSql">
        <where>
          #foreach($column in $columns)
            <if test="dobj.$!column.lowerAttrName != null#if($column.attrType.equals("String")) and dobj.$column.lowerAttrName != ''#end">
                and $!column.columnName = #{dobj.$column.lowerAttrName}
            </if>
          #end
        </where>
    </sql>

    <!--选择性的新增-->
    <insert id="insertBySelective">
        insert into ${tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
          #foreach($column in $columns)
            <if test="$!column.lowerAttrName != null#if($column.attrType.equals("String")) and $column.lowerAttrName != ''#end">
                $column.columnName,
            </if>
          #end
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
          #foreach($column in $columns)
              <if test="$!column.lowerAttrName != null#if($column.attrType.equals("String")) and $column.lowerAttrName != ''#end">
                  #{$column.lowerAttrName},
              </if>
          #end
        </trim>
    </insert>

    <!--通过主键修改-->
    <update id="updateById">
        update ${tableName}
        <set>
          #foreach($column in $columns)
            <if test="$!column.lowerAttrName != null#if($column.attrType.equals("String")) and $column.lowerAttrName != ''#end">
                $column.columnName = #{$column.lowerAttrName},
            </if>
          #end
        </set>
        where $pk.columnName = #{$pk.lowerAttrName}
    </update>

    <!--通过主键逻辑删除-->
    <update id="deleteById">
        update ${tableName} set record_status = 1 where $pk.columnName = #{$pk.lowerAttrName}
    </update>

</mapper>
