package ${package};

import java.util.List;
import java.util.Set;

/**
 * ${comments}服务层接口
 *
 * @version v0.1, ${nowTime}, create by ${author}.
 */
public interface I${upperClassName}Service {

    /**
     * 通过主键查询单条数据
     *
     * @param ${pk.lowerAttrName}
     *            主键
     * @return 实例对象
     */
    ${upperClassName}DO selectById(${pk.attrType} ${pk.lowerAttrName});

    /**
     * 通过条件查询单条数据
     *
     * @param ${lowerClassName}
     *            查询条件
     * @return 实例对象
     */
    ${upperClassName}DO selectOne(${upperClassName}DO ${lowerClassName});

    /**
     * 通过实体作为筛选条件查询集合
     *
     * @param ${lowerClassName}
     *            查询条件
     * @return 对象列表
     */
    List<${upperClassName}DO> selectList(${upperClassName}DO ${lowerClassName});

    /**
     * 条件查询总条数
     *
     * @param ${lowerClassName}
     *            查询条件
     * @return 总条数
     */
    Long selectCount(${upperClassName}DO ${lowerClassName});

    /**
     * 分页查询数据
     *
     * @param ${lowerClassName}
     *            查询条件
     * @param startRow
     *            查询起始位置
     * @param pageSize
     *            每页查询条数
     * @return 对象列表
     */
    List<${upperClassName}DO> selectPages(${upperClassName}DO ${lowerClassName}, int startRow, int pageSize);

    /**
     * 通过id集合查询
     *
     * @param idSet
     *            id集合
     * @param ${lowerClassName}
     *            查询条件
     * @return 结果集
     */
    List<${upperClassName}DO> selectByIdSet(Set<${pk.attrType}> idSet, ${upperClassName}DO ${lowerClassName});


    /**
     * 新增
     *
     * @param ${lowerClassName}
     *            实例对象
     * @return 影响行数
     */
    int insert(${upperClassName}DO ${lowerClassName});

    /**
     * 通过主键修改
     *
     * @param ${lowerClassName}
     *            实例对象
     * @return 影响行数
     */
    int updateById(${upperClassName}DO ${lowerClassName});

    /**
     * 通过主键删除数据
     *
     * @param ${pk.lowerAttrName}
     *            主键
     * @return 影响行数
     */
    int deleteById(${pk.attrType} ${pk.lowerAttrName});

}
