package ${package};

import java.util.List;

/**
 * ${comments}服务层接口
 *
 * @version v0.1, ${nowTime}, create by ${author}.
 */
public interface I${className}Service {

    /**
     * 通过主键查询单条数据
     *
     * @param ${pk.attrname}
     *            主键
     * @return 实例对象
     */
    ${className}DO selectById(${pk.attrType} ${pk.attrname});

    /**
     * 通过实体作为筛选条件查询集合
     *
     * @param ${classname}
     *            查询条件
     * @return 对象列表
     */
    List<${className}DO> selectList(${className}DO ${classname});

    /**
     * 条件查询总条数
     *
     * @param ${classname}
     *            查询条件
     * @return 总条数
     */
    Long selectCount(${className}DO ${classname});

    /**
     * 分页查询数据
     *
     * @param ${classname}
     *            查询条件
     * @param startRow
     *            查询起始位置
     * @param pageSize
     *            每页查询条数
     * @return 对象列表
     */
    List<${className}DO> selectPages(${className}DO ${classname}, int startRow, int pageSize);

    /**
     * 选择性新增
     *
     * @param ${classname}
     *            实例对象
     * @return 影响行数
     */
    int insertBySelective(${className}DO ${classname});

    /**
     * 通过主键修改
     *
     * @param ${classname}
     *            实例对象
     * @return 影响行数
     */
    int updateById(${className}DO ${classname});

    /**
     * 通过主键删除数据
     *
     * @param ${pk.attrname}
     *            主键
     * @return 影响行数
     */
    int deleteById(${pk.attrType} ${pk.attrname});

}
